body{
background-image: url(bg1.webp);
background-size: cover;
margin: 0%;
}

.container{

background-color: rgba(28, 6, 110, 0.4);
margin: 20px;
border-radius: 30px;
padding: 1px;
}

.heading{
background-color: rgba(0, 128, 49,0.9);
color: white;
padding: 3px;
border-radius: 10px ;
margin-left: 10px;
margin-right: 10px;

}
.logo-img{
width: 200px;
height:200px;
border-radius: 100px;}
.logo-img-c{
    text-align: center;
}


.link{

background-color: rgb(2, 80, 43);
color: white;
border-radius: 100px;
margin: left 10px;
margin-right: 10px;
padding: 10px ;
}
.linka{
    text-align: center;
}
.bc{
    background-color:rgba(10, 25, 38,0.7) ;
    color: aquamarine;
    margin: 15px;
    border-radius: 8px;
}
.containerp{
background-color: rgba(5, 94, 9, 0.3);
border-radius: 6px;
margin: 10px;
padding:15px ;

}
.bcp{
    background-color:rgba(10, 25, 38,0.7) ;
    color: aquamarine;
    border-radius: 5px;
}
.con{

background-color: rgba(21, 60, 4, 0.583);
border-radius: 6px;
margin: 18px;
padding:15px ;



}